In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as mpl

%matplotlib inline

In [2]:
df = pd.read_csv('Airbnb_Texas_Rentals.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'average_rate_per_night', 'bedrooms_count', 'city',
       'date_of_listing', 'description', 'latitude', 'longitude', 'title',
       'url'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18259 entries, 0 to 18258
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              18259 non-null  int64
 1   average_rate_per_night  18231 non-null  object
 2   bedrooms_count          18256 non-null  object
 3   city                    18259 non-null  object
 4   date_of_listing         18259 non-null  object
 5   description             18257 non-null  object
 6   latitude                18225 non-null  float64
 7   longitude               18225 non-null  float64
 8   title                   18256 non-null  object
 9   url                     18259 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.4+ MB